<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>About</title>
</head>
<body>
    <h1><%= title %></h1>
    <h3>Joelle Li-Cho</h3>
    <p>Hi, I'm a software developer in the making.</p>
    <a href="/">Home</a>
    |
    <a href="/skills">See what I'm studying</a>
</body>
</html>